
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');


:root{
    --color-black: #000;
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-400: #38bdf8;
    --sky-500: #0ea5e9;
    --sky-600: #0284c7;
    --sky-700: #0369a1;
    --sky-800: #075985;
    --sky-900: #0c4a6e;
    --sky-900-less: #0c4a6e46;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --orange-100: #ffedd5;
    --orange-200: #fed7aa;
    --orange-500: #f97316;
    --orange-600: #ea580c;
    --orange-700: #c2410c;


    font-size: 16px;
}

body{
    background-color: var(--sky-200);
}

body, ul{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-black);
    list-style-type: none;
}

p, h2, h3{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--color-black);
}


.btn{
    background-color: var(--orange-700);
    color: var(--sky-50);
    border: none;
    border-radius: 16px;
    font-size: 1rem;
    height: 32px;
    width: 100px;
    cursor: pointer;
    transition: all .1s;
}

.btn:hover{
    background-color: var(--orange-600);
    transform: scale(1.02);
}

.d-flex{
    display: flex;
}

/*container*/
.grid-container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2fr min(6fr, 600px) 3fr;
    gap: 15px;
    background-color: var(--sky-400);
}


/************* left sidebar *******************/

.left-sidebar{
    position: relative;
    max-height: inherit;
    padding: 1rem;
    background-color: var(--sky-50);
    box-shadow: 0px 0px 7px 3px var(--orange-200);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;   
    grid-template-rows: 150px 300px 200px;
    transition: all .3s; 
    
}

#hide-menu, #open-menu{
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 25px;
}


.dashboard-title{
    text-align: center;
    font-family: 'Kenia', cursive;
    font-size: 2rem;
}

.left-sidebar nav ul{
    display: grid;
    row-gap: 20px;
}

.left-sidebar nav ul li{
    align-self: center;
    justify-self: stretch;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.left-sidebar nav ul li a, .more-btn a{
    font-size: 1.2rem;
}

.left-sidebar nav ul li a i, .more-btn a i{
    margin-right: 15px;
    transition: all .2s;
}

.left-sidebar nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.left-sidebar nav ul li:hover a i, .more-btn:hover a i{
    transform: scale(1.1);
}

.more-btn{
    align-self: center;
    justify-self: stretch;
}


/********** top bar ****************/

.navbar{
    padding: 2rem 1rem;
    background-color: var(--sky-50);
    border-radius: 0 0 5px 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    box-shadow: 0px 0px 7px 3px var(--orange-200);
    display: grid;
    row-gap: 30px;
    grid-template-rows: 20px;
    grid-template-columns: 3fr 1fr;
}

.navbar .search-bar{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    gap: 15px;
}

.navbar .search-bar input{
    border: none;
    border-radius: 20px;
    background-color: var(--sky-100);
    width: 100%;
    padding: 3px 12px;
    color: var(--orange-700);
    font-weight: 600;
}

.navbar .search-bar input:focus {
    outline-width: 0;
}

.navbar .search-bar:hover i{
    transform: scale(1.1);
} 

.navbar .hi-user{
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: start;
    gap: 15px;
}

.navbar .hi-user .nav-user{
    font-weight: 700;
}

.navbar .hi-user .avatar{
    background: url("avatar.png");
    background-size: cover;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.navbar .navbar-menu{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    gap: 15px;
    align-items: center;
}



/* ***** right sidebar  **** */

.right-sidebar{
    padding: 1rem;
    padding-top: 4rem;
    background-color: var(--sky-50);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    box-shadow: 0px 0px 7px 3px var(--orange-200);
}


    /* user info */
    .logged-user{
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        align-items: center;
        justify-items: start;
        margin-bottom: 2rem;
        gap: 1.3rem
    }

    .logged-user .avatar{
        background: url("avatar.png");
        background-size: cover;
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }

    .user > p:first-child{
        font-weight: 700;
        font-size: 0.8rem;
    }

    
    .user > p:last-child{
        font-size: 1rem;
        color: var(--gray-500)
    }

    .logged-user > a {
        color: var(--sky-600);
        font-size: 0.9rem;  
    }

    /* topics */
    .topic-section > h2{
        font-size: 1rem;
        color: var(--gray-800);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .topics{
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
        display: grid;
        gap: 1rem;
        background-color: var(--sky-100);
        border-radius: 16px;
    }

    /*photos*/
    .photo-section{
        margin-top: 2rem;
    }

    .photo-section > h2{
        font-size: 1rem;
        color: var(--gray-800);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .photos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

   

    .photos img{
        max-width: 100%;
        border-radius: 4px;
    }

/* ******** contenido *********** */

.content{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--sky-100);
    border-radius: 5px 5px 0 0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: 0px 0px 7px 3px var(--orange-200);
}


.content > p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.content .projects{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}


.projects > div  {
    background-color: var(--gray-50);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--sky-900-less);
    border-left: 5px solid var(--orange-500);
    transition: all .2s;


}

.projects > div:hover{
    box-shadow: 2px 2px 6px var(--sky-900);
    background: #fff;
}

.projects > div > a{
    display: grid;
    gap: 15px;
} 

.projects > div > a > p:first-child{
    font-size: 1.2rem;
    font-weight: 600;
}

.tecnhologies{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30px);
    gap: 5px;
    justify-content: end;

}

.tecnhologies img{
    max-width: 100%;
    padding: 0;
    border-radius: 4px;
    
}

    /*** technology icons ***/
    /* .bootstrap-i{
        background-color:#563D7C;
    }
    .javascript-i{
        background-color:yellow;
    }
    .html-i{
        background-color:rgb(205, 62, 205);
    }
    .css-i{
        background-color:rgb(205, 62, 205);
    }
    .wp-i{
        background-color:rgb(205, 62, 205);
    }
    .node-i{
        background-color:rgb(205, 62, 205);
    }
    

     */
    

/*JS hidden styles */

.hidden-menu{
    width: 30px;
}


.hide{
    display: none;
}